/* index.css */
body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Controls for LineChart size */
.chart-container {
  width: 900px;
  height: 600px;
}

/* Controls for ScatterPlot size */
.scatterplot-container {
  width: 900px;
  height: 600px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.heatmap-container {
  width: 950px;
  height: 600px;
  margin: 20px left;
}
